/* estilos.css */

/* General */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Títulos */
h1 {
  color: #444;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Formularios */
form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto 20px auto;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

form input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

/* Botones generales */
#control-panel {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.1s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

/* Sección de contenido */
#contenido {
  margin: 20px auto;
  padding: 15px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  background: #e9f5ff;
  max-width: 600px;
  min-height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

#contenido:hover {
  border-color: #0056b3;
}

#contenido p {
  font-size: 16px;
  margin: 5px 0;
  color: #333;
}

/* Botones específicos para usuario.html */
#btnAgregar, #btnEliminar, #btnIzquierda, #btnCentro, #btnDerecha {
  margin: 10px 5px;
  padding: 10px 15px;
  background-color: #28a745;
  border-radius: 5px;
  color: white;
  border: none;
}

#btnAgregar:hover, #btnEliminar:hover, #btnIzquierda:hover, #btnCentro:hover, #btnDerecha:hover {
  background-color: #218838;
}

#btnEliminar {
  background-color: #dc3545;
}

#btnEliminar:hover {
  background-color: #c82333;
}

#btnIzquierda, #btnCentro, #btnDerecha {
  background-color: #ffc107;
}

#btnIzquierda:hover, #btnCentro:hover, #btnDerecha:hover {
  background-color: #e0a800;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  form {
      padding: 15px;
  }

  button {
      width: 100%;
      margin-bottom: 10px;
  }

  #contenido {
      padding: 10px;
  }
}
